@font-face {
  font-family: "iconfont"; /* Project id 3780026 */
  src: url('iconfont.woff2?t=1668786802759') format('woff2'),
       url('iconfont.woff?t=1668786802759') format('woff'),
       url('iconfont.ttf?t=1668786802759') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-31sousuo:before {
  content: "\e601";
}

.icon-daohang:before {
  content: "\e974";
}

.icon-ren:before {
  content: "\e6c5";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-gongju1:before {
  content: "\e615";
}

.icon-remen:before {
  content: "\e647";
}

.icon-ziyuan:before {
  content: "\e606";
}

.icon-shejiguifan:before {
  content: "\e61f";
}

.icon-kexuejishu-:before {
  content: "\e9bf";
}

.icon-git:before {
  content: "\e691";
}

.icon-fenlei:before {
  content: "\e600";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-wendang:before {
  content: "\e617";
}

.icon-qita:before {
  content: "\e60b";
}

.icon-wodexuqiu:before {
  content: "\e741";
}

.icon-icon-test1:before {
  content: "\e66c";
}

.icon-icon-test:before {
  content: "\e665";
}

