html, body {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #EAEAEF;
    height: 100%;
    scroll-behavior: smooth;
}


/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* 定义滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, .1);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
    background-color: rgba(50, 50, 50, .3);
}

#app {
    width: 100%;
    height: 100%;
}

#app > .el-container {
    height: 100vh;
}

/**
 * 整体布局的头部区域-- 标题
 */
.fd-head {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    padding: 0px;
    background-color: #f5f5f5;
    color: #999;
    text-align: center;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

.fd-head .fd-head-title {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.fd-head .fd-head-title .fd-head-more {
    padding-top: 10px;
    cursor: pointer;
}

.fd-left-nav {
    height: 100%;
    border-right: solid 1px #393838;
}

.fd-main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.fd-main-container .fd-main-header {

}

.fd-main-container .fd-main-content {
    padding: 0px;
    height: calc(100vh - 220px);
    /*overflow-y: scroll;*/
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #f9f9f9;
}

.fd-main-content-title {
    height: 20px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.operate-item {
    padding: 0px 5px;
}

.fd-main-container .fd-main-footer {
    padding: 10px 20px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #FFFFFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.fd-search {
    padding: 10px 0px;
    margin: 0 auto;
    width: 60%;
}


/**
 * 整体布局的底部区域-- 版本信息
 */
.fd-footer {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    color: #999;
    text-align: center;
    background-color: #f5f5f5;
    line-height: 30px;
}

.fd-footer .copy-right {
    margin: 0px;
}

/**
 * showMore  start
 */
.fd-drawer-container {
    padding: 20px;
    height: 100%;
    width: 100%;
}

.fd-drawer-container .fd-user {
    height: 300px;
    background-color: #FFF;
}

.fd-user .fd-user-list {
    padding-left: 20px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.fd-drawer-container .fd-user .fd-user-list .fd-user-item {
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    cursor: pointer;
    width: fit-content;
}

.fd-drawer-container .fd-user .fd-user-list .fd-user-item .el-avatar {
    background-color: transparent !important;
}

.fd-user .fd-user-search {
    padding: 20px 20px;
}


.fd-drawer-container .fd-msg-box {
    padding: 20px;
}

.fd-drawer-container .fd-msg-box .fd-msg-box-title {
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.fd-drawer-container .fd-msg-box .fd-msg-box-dsc {
    padding-top: 10px;
    font-size: 14px;
    color: #a2a0a0;
    line-height: 20px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.sidebar {
    width: 56px;
    height: 95%;
    transition: 1s;
    border-right: 1px solid #e7eaef;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 标题 */
.sidebar .menu-head {
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e7eaef;
    cursor: pointer;
}

.sidebar .menu-head > a {
    text-decoration: none;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.sidebar .menu-head > a > i {
    font-size: 32px;
    color: #ff8c01;
    margin: 0 8px 0 0;
}

.sidebar .menu-head > a > span {
    font-size: 13px;
    display: none;
    color: #000;
}

/* 尾部按钮 */
.sidebar .menu-foot {
    width: 200px;
    height: 56px;
    line-height: 56px;
    border-top: 1px solid #e7eaef;
}

.sidebar .menu-foot-button {
    cursor: pointer;
    width: 56px;
    height: 56px;
    padding: 0 19px;
}

.sidebar .menu-foot-button i {
    font-size: 16px;
    color: #7c878e;
}

.sidebar .menu-foot-button i:nth-child(1) {
    display: inline-block;
}

.sidebar .menu-foot-button i:nth-child(2) {
    display: none;
}

.sidebar .menu-foot-button:hover {
    background-color: #f3f4f7;
}


/* 菜单列表 */
.sidebar .menu-body {
    width: 200px;
    height: 100%;
    overflow: hidden;
}

ul.menu-list {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

li.menu-list-label {
    position: relative;
    color: #000;
    font-size: 12px;
    padding: 18px 0 4px 20px;
}

li.menu-list-label span {
    display: none;
}

li.menu-list-label::after {
    content: "";
    position: absolute;
    width: 16px;
    bottom: 10px;
    height: 1px;
    display: block;
    background-color: rgba(124, 135, 142, .5);
}

li.menu-list-item > a {
    text-decoration: none;
    padding: 10px 0 10px 20px;
    display: flex;
    align-items: center;
}

li.menu-list-item i {
    font-size: 16px;
    color: #7c878e;
    margin: 0 8px 0 0;
}

li.menu-list-item > a > span {
    font-size: 13px;
    display: none;
    color: #000;
}

li.menu-list-item:hover {
    background-color: #e7eaef;
}

/* 展开后的样式 */
.sidebar.is-expanded {
    width: 201px;
}

.sidebar.is-expanded .menu-head > a > span {
    display: block;
}

.sidebar.is-expanded li.menu-list-item > a > span {
    display: block;
}

.sidebar.is-expanded li.menu-list-label span {
    display: block;
}

.sidebar.is-expanded li.menu-list-label::after {
    display: none;
}

.sidebar.is-expanded .menu-foot-button i:nth-child(1) {
    display: none;
}

.sidebar.is-expanded .menu-foot-button i:nth-child(2) {
    display: inline-block;
}

/* 列表项选中时样式 */
li.is-selected > a {
    background-color: #006eff;
}

li.is-selected > a > i, li.is-selected > a > span {
    color: #fff;
}

/* 夜间主题 */
.sidebar.theme-dark {
    background-color: #1e222d;
}

.sidebar.theme-dark .menu-head {
    border: none;
}

.sidebar.theme-dark .menu-head span {
    color: #fff;
}

.sidebar.theme-dark .menu-foot {
    border: none;
    background-color: #262f3e;
}

.sidebar.theme-dark .menu-foot-button:hover {
    background-color: #344258;
}

.sidebar.theme-dark .menu-foot-button:hover i {
    color: #fff;
}

.sidebar.theme-dark li.menu-list-item:hover {
    background-color: #262f3e;
}

.sidebar.theme-dark li.menu-list-item > a > span {
    color: #c1c6c8;
}

.sidebar.theme-dark li.menu-list-label span {
    color: #7c878e;
}

.sidebar.theme-dark li.is-selected > a > i, .sidebar.theme-dark li.is-selected > a > span {
    color: #fff;
}

/* 滚动条 */
.sidebar ::-webkit-scrollbar {
    width: 7px;
}

.sidebar ::-webkit-scrollbar-thumb {
    width: 7px;
    border-radius: 10px;
    background-color: #b0b0b055;
}

.sidebar.theme-dark ::-webkit-scrollbar-thumb {
    background-color: #313f5a;
}


.fd-auto-search {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 1s;
}

.fd-auto-search input {
    display: none;
    width: 0px;
    padding: 0;
    font-size: 14px;
    outline: none;
    border: none;
    background: transparent;
    transition: 1s;
}

.fd-auto-search button {
    border: none;
    padding: 3px;
    margin: 3px;
    border-radius: 50%;
    background-color: #409eff;
}

.fd-auto-search button i {
    font: 900 20px '';
    color: #fff;
}

.fd-auto-search:hover {
    width: 290px;
    border: 2px solid #409eff;
    background-color: #fff;
}

.fd-auto-search:hover input {
    display: inline-block;
    width: 100%;
    margin-right: 15px;
}

.fd-auto-search:hover input::-webkit-input-placeholder {
    color: #c3d3e5;
    font-size: 12px;
}

.fd-col-log {
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
}

.fd-col-log:hover, .fd-col-log:focus {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #eee;
}