<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoler.studynav.business.fl.mapper.FlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.isoler.studynav.business.fl.model.bean.Fl">
        <id column="c_id" property="id" />
        <result column="c_parent_id" property="parentId" />
        <result column="c_name" property="name" />
        <result column="c_description" property="description" />
        <result column="c_icon" property="icon" />
        <result column="n_order" property="order" />
        <result column="dt_create_time" property="createTime" />
        <result column="dt_update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, c_parent_id, c_name, c_description, c_icon, n_order, dt_create_time, dt_update_time
    </sql>

</mapper>
