<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>网址导航-管理页面</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/element/element.css">
    <link rel="stylesheet" href="css/setting/setting.css"/>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
</head>
<body>
<div id="app">
    <el-container>
        <el-aside width="auto">
            <el-menu :default-active="navType" background-color="#3c3f41" text-color="#f5f5f5" class="fd-left-nav"
                     @select="handleSelect"
                     :collapse="isCollapse">
                <el-menu-item index="fl">
                    <i class="el-icon-menu"></i>
                    <span slot="title">分类</span>
                </el-menu-item>
                <el-menu-item index="link">
                    <i class="el-icon-menu"></i>
                    <span slot="title">网址</span>
                </el-menu-item>
                <el-menu-item index="document">
                    <i class="el-icon-document"></i>
                    <span slot="title">文档</span>
                </el-menu-item>
                <el-menu-item index="setting">
                    <i class="el-icon-setting"></i>
                    <span slot="title">设置</span>
                </el-menu-item>
            </el-menu>
        </el-aside>
        <el-container>
            <el-header class="fd-head" height="40px">
                <div class="fd-head-title">
                    <div>
                        <i class="el-icon-menu" style="cursor: pointer" @click="changeCollapse"></i>
                        <span style="padding-left: 10px">网址导航-管理页面</span>
                    </div>
                </div>
            </el-header>
            <el-container class="fd-main-container">
                <div v-if="navType=='fl'" style="width: 100%">
                    <el-header class="fd-main-header" height="60px">
                        <div class="fd-search">
                            <el-input @keyup.enter.native="searchFl" size="medium"
                                      prefix-icon="el-icon-search"
                                      placeholder="搜索" v-model="fl.searchText"
                                      class="input-with-select">
                            </el-input>
                        </div>
                    </el-header>
                    <el-main class="fd-main-content">
                        <div class="fd-main-content-title">
                            <div style="font-weight: bold;font-size: 16px">
                                <i class="el-icon-price-tag"></i>
                                分类管理
                            </div>
                            <div style="padding-right: 50px">
                                <el-tooltip class="item" effect="dark" content="新增" placement="bottom-end">
                                    <el-link style="color:green" :underline="false" @click="handleFlAdd"
                                             icon="el-icon-plus"></el-link>
                                </el-tooltip>
                            </div>
                        </div>
                        <el-table :data="fl.data" stripe style="width: 100%">
                            <el-table-column prop="name" label="名称" width="180"></el-table-column>
                            <el-table-column prop="desc" label="说明"></el-table-column>
                            <el-table-column prop="address" label="时间" width="180"></el-table-column>
                            <el-table-column fixed="right" label="操作" width="100">
                                <template slot-scope="scope">
                                    <el-tooltip class="operate-item" effect="dark" content="查看" placement="bottom-end">
                                        <el-link :underline="false" @click="handleFlView(scope.row)"
                                                 icon="el-icon-view">
                                        </el-link>
                                    </el-tooltip>
                                    <el-tooltip class="operate-item" effect="dark" content="编辑" placement="bottom-end">
                                        <el-link :underline="false" @click="handleFlEdit(scope.row)"
                                                 icon="el-icon-edit"></el-link>
                                    </el-tooltip>
                                    <el-tooltip class="operate-item" effect="dark" content="删除" placement="bottom-end">
                                        <el-link :underline="false" @click="handleFlDel(scope.row)"
                                                 icon="el-icon-delete">
                                        </el-link>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-main>
                    <el-footer class="fd-main-footer" height="50px">
                        <el-pagination
                                small="true"
                                @size-change="handleFlSizeChange"
                                @current-change="handleFlPageChange"
                                :current-page="fl.current"
                                :page-sizes="[10, 20, 50]"
                                :page-size="fl.size"
                                :total="fl.total"
                                layout="total, prev, pager, next, sizes">
                        </el-pagination>
                    </el-footer>
                </div>
                <div v-if="navType=='link'" style="width: 100%">
                    <el-header class="fd-main-header" height="60px">
                        <div class="fd-search">
                            <el-input @keyup.enter.native="searchLink" size="medium"
                                      prefix-icon="el-icon-search"
                                      placeholder="搜索" v-model="link.searchText"
                                      class="input-with-select">
                            </el-input>
                        </div>
                    </el-header>
                    <el-main class="fd-main-content">
                        <div class="fd-main-content-title">
                            <div style="font-weight: bold;font-size: 16px">
                                <i class="el-icon-link"></i>
                                网址链接
                            </div>
                            <div style="padding-right: 50px">
                                <el-tooltip class="item" effect="dark" content="新增" placement="bottom-end">
                                    <el-link style="color:green" :underline="false" @click="handleLinkAdd"
                                             icon="el-icon-plus"></el-link>
                                </el-tooltip>
                            </div>
                        </div>
                        <el-table :data="fl.data" stripe style="width: 100%">
                            <el-table-column prop="name" label="名称" width="180"></el-table-column>
                            <el-table-column prop="desc" label="说明"></el-table-column>
                            <el-table-column prop="address" label="时间" width="180"></el-table-column>
                            <el-table-column fixed="right" label="操作" width="100">
                                <template slot-scope="scope">
                                    <el-tooltip class="operate-item" effect="dark" content="查看" placement="bottom-end">
                                        <el-link :underline="false" @click="handleLinkView(scope.row)"
                                                 icon="el-icon-view">
                                        </el-link>
                                    </el-tooltip>
                                    <el-tooltip class="operate-item" effect="dark" content="编辑" placement="bottom-end">
                                        <el-link :underline="false" @click="handleLinkEdit(scope.row)"
                                                 icon="el-icon-edit"></el-link>
                                    </el-tooltip>
                                    <el-tooltip class="operate-item" effect="dark" content="删除" placement="bottom-end">
                                        <el-link :underline="false" @click="handleLinkDel(scope.row)"
                                                 icon="el-icon-delete">
                                        </el-link>
                                    </el-tooltip>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-main>
                    <el-footer class="fd-main-footer" height="50px">
                        <el-pagination
                                small="true"
                                @size-change="handleFlSizeChange"
                                @current-change="handleFlPageChange"
                                :current-page="fl.current"
                                :page-sizes="[10, 20, 50]"
                                :page-size="fl.size"
                                :total="fl.total"
                                layout="total, prev, pager, next, sizes">
                        </el-pagination>
                    </el-footer>
                </div>
            </el-container>
            <el-footer class="fd-footer" height="30px">
                <p class="copy-right">
                    Copyright &copy; 2020-2022@ISOLER
                </p>
            </el-footer>
        </el-container>
    </el-container>
    <el-dialog title="网址分类" :visible.sync="fl.dialogFormVisible">
        <el-form :model="fl.form" label-width="80px">
            <el-form-item label="分类名称">
                <el-input v-model="fl.form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图标">
                <el-input v-model="fl.form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="父分类">
                <el-select v-model="fl.form.parentId" placeholder="请选择父分类">
                    <el-option v-for="(item,index) in fl.parentData" :label="item.name" :value="item.id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="描述">
                <el-input type="textarea" v-model="fl.form.desc"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="fl.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveFl">保存</el-button>
        </div>
    </el-dialog>
    <el-dialog title="网址" :visible.sync="link.dialogFormVisible">
        <el-form :model="link.form" label-width="80px">
            <el-form-item label="分类名称">
                <el-input v-model="link.form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="图标">
                <el-input v-model="link.form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="父分类">
                <el-select v-model="link.form.parentId" placeholder="请选择父分类">
                    <el-option v-for="(item,index) in link.parentData" :label="item.name" :value="item.id"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="描述">
                <el-input type="textarea" v-model="link.form.desc"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="link.dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveLink">保存</el-button>
        </div>
    </el-dialog>
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue/vue.min.js"></script>
<!-- import JavaScript -->
<script src="js/element/element.js"></script>
<script src="js/moment/moment.js"></script>
<script src="js/axios/axios.min.js"></script>
<script src="js/setting/setting.js"></script>
</html>