/* 清除浏览器默认样式*/
body {
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #304455;
    background-color: #fff;
    margin: 0;
}

.el-input__inner {
    background-color: #FFF !important;
}

#app {
    height: 100%;
    width: 100%;
}

#app > .el-container {
    height: 100vh;

}

.fd-head {
    background-color: #475050;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
}

.fd-head .fd-head-title {
    width: 200px;
}


.el-main {
    text-align: center;
    line-height: 160px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
}

.el-main .fd-content-bg {
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    background-image: url("../img/login/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.el-main .fd-content {
    margin-right: 50px;
    padding: 0px 20px 20px 0px;
    width: 450px;
    background-color: #f5f5f5;;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
}

.el-main .fd-content .fd-content-head {
    height: 200px;
    background-image: url("../img/login/head.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.fd-login-btn {
    height: 40px;
    margin-top: 0px;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    background-color: #409EFF;
    border-color: #409EFF;
    line-height: 1;
    white-space: nowrap;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 10px;
}

.fd-login-btn:focus, .fd-login-btn:hover {
    background-color: #78b6f6;
    border-color: #409EFF;
}

/*.el-footer {*/
/*    background-color: #475050;*/
/*    color: #FFFFFF;*/
/*    text-align: center;*/
/*    line-height: 40px;*/
/*}*/

.fd-footer {
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    font-size: 12px;
    color: #999;
    text-align: center;
    background-color: #f5f5f5;
    line-height: 30px;
}

.el-footer .copy-right {
    margin: 0px;
}









