<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>WeChat</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/element/element.css">
    <link rel="stylesheet" href="css/index.css"/>

</head>
<body>
<div id="app">
</div>
</body>
<!-- import Vue before Element -->
<script src="js/vue/vue.min.js"></script>
<!-- import JavaScript -->
<script src="js/element/element.js"></script>
<script src="js/moment/moment.js"></script>
<script src="js/axios/axios.min.js"></script>
<script src="js/index.js"></script>
</html>